# Dependencies
node_modules/

# Environment variables
.env
frontend/.env
backend/.env
collabcode-admin/.env
collabcode-admin-backend/.env
backend/serviceAccountKey.json
collabcode-admin-backend/serviceAccountKey.json

# Build folders
dist/
build/
collabcode-admin/dist/

# Logs
*.log
npm-debug.log*

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db