# Dependencies
node_modules/

# Environment variables
.env
frontend/.env
backend/.env
backend/serviceAccountKey.json

# Build folders
dist/
build/

# Logs
*.log
npm-debug.log*

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db